.color-block {
  /* border: 2px solid black; */
  height: 18rem;
  width: 5rem;
}
.color-block-text {
  height: 25px;
  /* border: 2px solid black; */
  /* border-top-style: none; */
  /* Center the hex code text */
  display: flex;
  align-items: flex-end; /* Align to the bottom */
  justify-content: center;
}
